<div class="dropdown dropdown-inline" id="btnBoards" title="CTRL+B">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
    <span data-translate="boards"></span> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-translate="create" id="createBoard"></a></li>
    <li><a href="#" data-translate="change" id="changeBoard"></a></li>
    <li><a href="#" data-translate="remove" id="removeBoard"></a></li>
    <!--<li class="divider"></li>-->
  </ul>
</div>

<div class="dropdown dropdown-inline" id ="btnClasses" title="CTRL+C">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
    <span data-translate="classes"></span> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-translate="create" id="createClass"></a></li>
    <li><a href="#" data-translate="list" id="listClasses"></a></li>
    <li><a href="#" data-translate="remove" id="removeClass"></a></li>
  </ul>
</div>

<div class="dropdown dropdown-inline" id ="btnDictionaries" title="CTRL+D">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
    <span data-translate="dictionaries"></span> <span class="caret"></span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#" data-translate="create" id="createDictionary"></a></li>
    <li><a href="#" data-translate="change" id="changeDictionary"></a></li>
    <li><a href="#" data-translate="remove" id="removeDictionary"></a></li>
  </ul>
</div>

<div id="quitadmin" class="dropdown-inline" title="CTRL+L">
  <a href="#" class="btn btn-primary" data-translate="quitadmin"></a>
</div>

<div id="play" class="dropdown-inline" title="CTRL+P">
  <a href="#" class="btn btn-primary" data-translate="play"></a>
</div>

<div id="register" class="dropdown-inline" title="CTRL+S">
  <a href="#" class="btn btn-primary" data-translate="register"></a>
</div>

<div id="update" class="dropdown-inline" title="CTRL+S">
  <a href="#" class="btn btn-primary" data-translate="update"></a>
</div>

<div id="remove" class="dropdown-inline" title="CTRL+S">
  <a href="#" class="btn btn-primary" data-translate="remove"></a>
</div>

<div id="close" class="dropdown-inline" title="ESC">
  <a href="#" class="btn btn-primary" data-translate="close"></a>
</div>

<div id="evaluate" class="dropdown-inline" title="CTRL+E">
  <a href="#" class="btn btn-primary" data-translate="evaluate"></a>
</div>

<div id="cancel" class="dropdown-inline" TITLE="ESC">
  <a href="#" class="btn btn-primary" data-translate="cancel"></a>
</div>

<div id="quit" class="dropdown-inline pull-right" title="CTRL+Q">
  <a href="#" class="btn btn-primary" data-translate="quit"></a>&nbsp;
</div>

<div id="about" class="dropdown-inline pull-right" title="CTRL+A">
  <a href="#" class="btn btn-primary" data-translate="about"></a>&nbsp;
</div>

<div id="configuration" class="dropdown-inline pull-right" title="CTRL+K">
  <a href="#" class="btn btn-primary" data-translate="configuration"></a>
</div>

<div class="dropdown dropdown-inline pull-right" id="systemLanguage" title="CTRL+L">
  <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-animations="zoomIn zoomIn zoomIn zoomIn">
    <span data-translate="language"></span> <span class="caret"></span>
  </a>&nbsp;
  <ul class="dropdown-menu" role="menu">
  </ul>
</div>

<script src="js/bootstrap-dropdownhover.min.js"></script>
<link rel="stylesheet" href="css/animate.min.css">
